@import './base.css';
/*
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;

  color: white;
}

a,
.green {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: midnightblue;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background: pink;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/

*{
  margin:0;
  padding:0;
}

@media (min-width: 1024px) {
  body {
    background-image: url('./images/stars.gif');
    background-size: cover;
  }
}

@font-face {
  font-family: "Naruto";
  src: url(NinjaNaruto-YOn4.ttf);
}

 a:hover {
  background-color: orange;
}

body{
  font:15px/1.3 'Open Sans', sans-serif;
  color: white;
  text-align:center;
}

a, a:visited {
  outline:none;
  color:#389dc1;
}

a:hover{
  text-decoration:none;
}

section, footer, header, aside, nav{
  display: block;
}

/*-------------------------
  The menu
--------------------------*/

nav{
  display:inline-block;
  margin:10px auto 15px;
  background-color:rgba(0.5,0.5,0.5,0.0);
  box-shadow:0 1px 1px transparent;
  /*border-radius:4px;*/
}

nav a{
  display:inline-block;
  color:#000000 !important;
  font-weight:bold;
  font-size:30px;
  font-family: Naruto;
  text-decoration:none !important;
  line-height:1;
  background-color:rgb(255, 255, 255);

  border: 10px solid rgb(255, 255, 255);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius:20px;
  position: center;

  padding: 50px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
